rowData {
    background: rgb(195, 195, 195);
    width: 400px;
    height: 400px;
    padding: 8px;
    border-radius: 4px;
    margin: auto;
}

.rowData {
    width: calc(50% - 16px);
    margin: 4x;
    display: inline-block;
    text-align: left;
    font-size: 16px;
}

label {

}

input {

}