.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-intro {
  font-size: large;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
    margin: 8px;
}

.calculatorContainer {
  background: #d0d0d0;
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  display: inline-block;
}

.rowData {
  width: calc(50% - 16px);
  margin: 4x;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  color: #505050
}